
/* general */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  color: #222222;
  background-color: #313130;
}

#VP {
    height: 100%;
    width: 100%;
    background: #313130;
    position: absolute;
}
#VP-content {
	color: #f8f8f8;
	text-align: center;
	position: relative;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	top: 150px;
	width: 100%;
}
	#VP-content > .main-img {
		height: 50%;
		margin-left: auto; 
		margin-right: auto; 
		margin-top: 50px;
		margin-bottom: 50px;
	}

/* buttons */
.download-button {
	bottom: 0;
	left: 0;
	position: relative;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.btn-download {
	border-radius: 4px;
	border: 1px solid;
	padding: 10px;
	margin-bottom: 10px;
	width: 200px;
	color: #f8f8f8;
	background-color: none;
}
.btn-download:hover, .btn-download:focus, .btn-download:active, .btn-download.active, .open .dropdown-toggle.btn-download {
    background-color: #CACFD2;
    border-color: #CACFD2;
    color: #f8f8f8;
}
/* fonts */

.navbar-default .navbar-nav > li > a {
	color: #222222;
	font-weight: 400
}
.navbar-default .navbar-nav > li > a:hover, a:active {
	color:#CACFD2;
	transition: all 0.25s ease 0s;
}
#welcome h3 > a {
	color: #222222;
	border-bottom: 1px solid #DEDEDE;
}

#welcome h3 > a:hover, a:active {
	color: #CACFD2;
	transition: all 0.25s ease 0s;
}


h1 {
	font-family: Roboto;
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1.5em;
}
h2 {
	font-family: Roboto;
	font-size: 1.875em;
	font-weight: 400;
	margin:0;
	line-height: 1.25em;
}
.content-h2 {
		font-family: Roboto;
		text-align: center;
		font-weight: 100;
		font-size: 3.125em;
}
h3 {
	font-family: Roboto;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.25em;
}
h6 {
	font-family: Roboto;
}
h5 {
	font-family: Roboto;
}

.fa-footer {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	color: #222222;
}

.fa-footer:hover, .fa-footer:active {
	color: #CACFD2;
	transition: all 0.25s ease 0s;
}




